html,
body {
  margin: 0;
}
.menu-links {
  padding: 20px;
}
.github {
  margin-right: 0.5rem;
  color: #0b0e10;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.github:hover {
  color: #36454f;
}
.linkedin {
  margin-right: 0.5rem;
  color: #0b0e10;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.linkedin:hover {
  color: #36454f;
}

.menu-icon {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.menu-icon:hover {
  color: #36454f;
}

.nav-links {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-links:hover {
  color: white;
}
.link {
  text-decoration: none;
  color: black;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h2 {
  font-family: "Mansalva", cursive;
  font-size: x-large;
  color: whitesmoke;
}

.list-item-text {
  font-family: "Mansalva", cursive;
}

p {
  font-family: "Architects Daughter", cursive;
}
.home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.art-image {
  max-width: 30rem;
  max-height: 30rem;
}
