html,
body {
  margin: 0;
  height: 100%;
  background-color: black;
}
.menu-links {
  padding: 20px;
}
.github {
  padding: 10px;
  color: white;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.github:hover {
  color: #36454f;
}
.linkedin {
  padding: 10px;
  color: white;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.linkedin:hover {
  color: #36454f;
}

.menu-icon {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.menu-icon:hover {
  color: #36454f;
}

.nav-links {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-links:hover {
  color: white;
}
.link {
  text-decoration: none;
  color: black;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h2 {
  font-family: "Mansalva", cursive;
  font-size: x-large;
}

.list-item-text {
  font-family: "Mansalva", cursive;
}

p {
  font-family: "Architects Daughter", cursive;
}
.home {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*Console loading animation*/

pre {
  padding: 0;
  margin: 0;
}

.load {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  background: black;
}

.term {
  font-family: monospace;
  color: #fff;
  opacity: 0.8;
  font-size: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 20px;
}

.term:after {
  content: "_";
  opacity: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.portfolio-art {
  max-width: 30rem;
  max-height: 30rem;
}
